<!--pass in movie to delete movies-->
<div class="modal" tabindex="-1" id="delete-movie-modal-{{movie.id}}" data-bs-backdrop="false">
    <div class="modal-dialog shadow-1g" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure you want to delete {{movie.title}}?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form 
            hx-post="{% url 'delete_movie' movie.id user_list.id %}"
            hx-swap="innerHTML"
            hx-target="#movie-container" 
            >
            {%csrf_token%}
            <button class="btn btn-danger mt-4" type="submit">Delete Movie</button>
            <button type="button" class="btn btn-primary mt-4" data-bs-dismiss="modal"> Cancel </button>
            </form>
        </div>
      </div>
    </div>
  </div>